################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/TP-laba-2
/.vs
/TP-laba-2/.vs/TP-laba-2
/TP-laba-2/TP-laba-2/x64/Debug
/TP-laba-2/x64/Debug
